{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Home</title>
</head>
<body class="black">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper black">
                <ul>
                    <li><a href="{% url 'games_index' %}" class="left brand-logo red-text">GGG</a></li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                        <button type="submit" class="btn red">Log Out</button>
                        </form>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>   
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>